.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin-top: 100px;
  }
  .ojo{
    margin: auto;
  }
  
  
  ion-item {
    border-radius: 20px;
    height: 55px;
    width: 350px;
    box-shadow: 1px 8px 0px #00000014;
    --highlinght-heigh: 0px;
    margin-bottom: 10px;
    color: #FE0000;
    border: 2px solid #FE0000;
  }
  
  ion-input {
    font-size: 18px;
    --padding-top: 20px;
    --padding-bottom: 15px;
    --padding-start: 15px;
  }
  
  .ion-padding {
    justify-content: center;
    margin-top: 10px;
    margin-top: -10px;
  }
  
  h1 {
    color: #FE0000;
    font-family: "Anton", sans-serif;
  }
  
  h2,
  a {
    color: #FE0000;
    text-align: center;
  }
  
  .Milk1 {
    position: absolute;
    width: 200px;
    height: 300px;
    top: 15%;
    left: 0;
  }
  
  .Milk3 {
    position: absolute;
    width: 200px;
    height: 300px;
    top: 35%;
    left: 0;
    transform: rotate(25deg);
  }
  
  .Milk2 {
    position: absolute;
    width: 200px;
    height: 300px;
    top: 30%;
    left: 0;
  }
  
  .Pulparindo {
    position: absolute;
    height: 200px;
    top: 87%;
    left: 0;
  }
  
  .Pulparindos {
    position: absolute;
    height: 200px;
    top: 87%;
    left: 0;
  }
  
  .Gomitas {
    position: absolute;
    width: 200px;
    height: 300px;
    top: 15%;
    left: auto;
    right: 0;
  }
  
  .Gomitas2 {
    position: absolute;
    width: 200px;
    height: 250px;
    top: 35%;
    left: auto;
    right: 0;
  }
  
  .Skis {
    position: absolute;
    top: 76%;
    right: 0;
  }
  
  .Guardar {
    background-color: #45CFDD;
    border-bottom: #45CFDD;
    border-radius: 50%;
  }
  
  .Inicio {
    margin-top: 150px;
    color: #001C30;
  }
  
  .sesion {
    cursor: pointer;
    color: #FE0000;
  }
  
  /* Estilos para pantallas medianas */
  @media (max-width: 991.98px) {
    .Milk1 {
      width: 250px;
      height: 300px;
    }
    .Milk2 {
      width: 200px;
      height: 300px;
    }
    .Milk3 {
      margin-top: -10px;
      margin-right: -10px;
      width: 200px;
      height: 300px;
    }
    .Pulparindo {
      width: 250px;
      height: 250px;
      top: 83.45%;
    }
    .Pulparindos {
      width: 200px;
      height: 200px;
      top: 88.2%;
      margin-left: -20px;
    }
    .Gomitas {
      width: 200px;
      height: 230px;
    }
    .Gomitas2 {
      margin-top: -60px;
      width: 150px;
      height: 200px;
    }
    .Skis {
      width: 250px;
      height: 250px;
      top: 81.7%;
    }
  }
  
  /* Estilos para pantallas pequeñas */
  @media (max-width: 767.98px) {
    .Milk1 {
      width: 150px;
      height: 200px;
    }
    .Milk2 {
      width: 150px;
      height: 150px;
    }
    .Milk3 {
      width: 150px;
      height: 150px;
      top: 270px;
    }
    .Pulparindo {
      width: 200px;
      height: 200px;
      top: 73.6%;
    }
    .Pulparindos {
      width: 150px;
      height: 150px;
      top: 80%;
    }
    .Gomitas {
      width: 130px;
      height: 230px;
    }
    .Gomitas2 {
      width: 130px;
      height: 150px;
    }
    .Skis {
      width: 200px;
      height: 200px;
      top: 73.6%;
    }
  }
  
  /* Estilos para pantallas extra pequeñas (móviles en portrait) */
  @media (max-width: 600px) {
    ion-card {
      width: 250px;
    }
    ion-item {
      width: 200px;
    }
    .Milk1 {
      width: 100px;
      height: 150px;
      margin-top: 50px;
    }
    .Milk2 {
      width: 100px;
      height: 100px;
      margin-top: 30px;
    }
    .Milk3 {
      width: 100px;
      height: 100px;
      top: 260px;
    }
    .Pulparindo {
      width: 150px;
      height: 150px;
      top: 83.45%;
    }
    .Pulparindos {
      width: 100px;
      height: 100px;
      top: 88.2%;
    }
    .Gomitas {
      width: 100px;
      height: 180px;
      margin-top: 30px;
    }
    .Gomitas2 {
      width: 80px;
      height: 100px;
      margin-top: -20px;
    }
    .Skis {
      width: 150px;
      height: 150px;
      top: 83.15%;
    }
  }
  